
@model IEnumerable<Ecommerce_Definitivo.Models.venda>


@{
    ViewBag.Title = "Index";
}

<h2>Minhas Compras</h2>


<table class="table">
    <tr>
        <th>
            Data
        </th>
        <th>
            Total
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
            
                @Html.DisplayFor(modelItem => item.dataVenda)
            </td>
            <td>
                R$ @Html.DisplayFor(modelItem => item.vlrTotal)
            </td>

            <td>
              
                @Html.ActionLink("Ver detalhes", "Details", new { id = item.vendaId }) 
               
            </td>
        </tr>
    }

</table>
